<div class="jumbotron">
  <div style="margin-left: 2em;">
  <h1>Picture Diary</h1>
  <p>Create picture stories of favorite trips, experiences, friends, activities, etc!</p>
  <p><a class="btn btn-primary btn-lg" href="/stories" role="button" >Create a Story!</a></p>
</div>
